<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
<ons-page id="hola personitas!!"></ons-page>
<ons-navigator id="appNavigator" swipeable swipe-target-width="80px">
  <ons-page>
    <ons-splitter id="appSplitter">
      <ons-splitter-side id="sidemenu" page="sidemenu.html" swipeable side="right" collapse="" width="260px"></ons-splitter-side>
      <ons-splitter-content page="tabbar.html"></ons-splitter-content>
    </ons-splitter>
  </ons-page>
</ons-navigator>

<template id="tabbar.html">
  <ons-page id="tabbar-page">
    <ons-toolbar>
      <div class="center">DECORAN2</div>
      <div class="right">
        <ons-toolbar-button onclick="fn.toggleMenu()">
          <ons-icon icon="ion-ios-menu, material:md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-tabbar swipeable id="appTabbar" position="auto">
      <ons-tab label="Menú" icon="ion-ios-home" page="menú.html" active></ons-tab>
      <ons-tab label="Decoran2" icon="ion-ios-create" page="decoran2.html"></ons-tab>
      <ons-tab label="Nosotros" icon="ion-ios-home" page="nosotros.html"></ons-tab>
    </ons-tabbar>

    <script>
      ons.getScriptPage().addEventListener('prechange', function(event) {
        if (event.target.matches('#appTabbar')) {
          event.currentTarget.querySelector('ons-toolbar .center').innerHTML = event.tabItem.getAttribute('label');
        }
      });
    </script>
  </ons-page>
</template>

<template id="sidemenu.html">
  <ons-page>
    <div class="profile-pic">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk4kMFU9PrTvuC2N3tYQLlDCp2l9TlEyq0zg&usqp=CAU.png">
    </div>

    <ons-list-title>GENERAL</ons-list-title>
    <ons-list>
      <ons-list-item onclick="fn.loadView(0)">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="ion-ios-home, material:md-home"></ons-icon>
        </div>
        <div class="center">
          Menú
        </div>
        <div class="right">
          <ons-icon icon="fa-link"></ons-icon>
        </div>
      </ons-list-item>
      <ons-list-item onclick="fn.loadView(1)">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="ion-ios-create, material:md-edit"></ons-icon>
        </div>
        <div class="center">
          Decoran2
        </div>
        <div class="right">
          <ons-icon icon="fa-link"></ons-icon>
        </div>
      </ons-list-item>
      <ons-list-item onclick="fn.loadView(2)">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="ion-ios-home, material: md-movie-alt"></ons-icon>
        </div>
        <div class="center">
          Nosotros
        </div>
        <div class="right">
          <ons-icon icon="fa-link"></ons-icon>
        </div>
      </ons-list-item>
    </ons-list>

    <script>
      ons.getScriptPage().onInit = function() {
        // Set ons-splitter-side animation
        this.parentElement.setAttribute('animation', ons.platform.isAndroid() ? 'overlay' : 'reveal');
      };
    </script>

    <style>
      .profile-pic {
        width: 200px;
        background-color: #fff;
        margin: 20px auto 10px;
        border: 1px solid #999;
        border-radius: 4px;
      }

      .profile-pic > img {
        display: block;
        max-width: 100%;
      }

      ons-list-item {
        color: #444;
      }
    </style>
  </ons-page>
</template>

<template id="menú.html">
  <ons-page>
    <p class="intro">
      Esta es la página web que hemos creado a partir de nuestra empresa de diseño de interiores Decoran2 para dar un apoyo a nuestros consumidores y dar a conocer nuestra imagen al mundo entero.<br><br>
    </p>

    <ons-card onclick="fn.pushPage({'id': 'pullHook.html', 'title': 'PullHook'})">
      <div class="title">Hola personitas!!</div>
      <div class="content">Esta App tiene todo lo que necesitas para conocernos un poquito más. Tambien como podrás observar tienes unos enlaces en los cuales te damos unos consejitos de primer grado en el que te damos ideas para lo que quieres. Si quieres que ayuda profesional contáctanos. Para mas información sigue deslizando en esta increible aplicación.</div>
    </ons-card>
    
    

    <style>
      .intro {
        text-align: center;
        padding: 0 20px;
        margin-top: 40px;
      }

      ons-card {
        cursor: pointer;
        color: #333;
      }

      .card__title,
      .card--material__title {
        font-size: 20px;
      }
    </style>
  </ons-page>
</template>

<template id="nosotros.html">
  <ons-page id="Nosotros-page">
    <ons-list>
      <ons-list-header>Suscríbete</ons-list-header>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-face" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" float maxlength="20" placeholder="Nombre"></ons-input>
      </label>
      </ons-list-item>
       <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-face" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" float maxlength="20" placeholder="Apellido"></ons-input>
      </label>
      </ons-list-item>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-home" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" float maxlength="20" placeholder="Domicilio"></ons-input>
      </label>
      </ons-list-item>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-card" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" float maxlength="20" placeholder="DNI"></ons-input>
      </label>
      </ons-list-item>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-phone" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" float maxlength="20" placeholder="Telefono"></ons-input>
      </label>
      </ons-list-item>

      <ons-list-header>Sobre Nosotros</ons-list-header>
      <ons-list-item>
        <label class="center" for="switch1">
          Notificaciones<span id="switch-status">&nbsp;(Activadas)</span>
        </label>
        <div class="right">
          <ons-switch id="model-switch" input-id="switch1" checked="true"></ons-switch>
        </div>
      </ons-list-item>
      <ons-card onclick="fn.pushPage({'id': 'pullHook.html', 'title': 'PullHook'})">
      <div class="title">Hola personitas!!</div>
      <div class="content">Buenas a todos y todas. Somos una empresa de contruccion, diseño de interiores e inmobiliaria española. Esta aplicación ha sido propuesta por nuestra jefa y creadora de la empresa Lucía Montes y ha sido de las mejores ideas que ha tenido despues de crear esta maravillosa empresa. Ella es licenciada y con un dosctorado, dos masters y un doble grado en arquitectura, diseño de interiores e inmobiliaria. Esta app es una guia y ayuda par quienes quieran tener algunas ideas iniciales sobre futros proyectos en sus vidas. Esto solo es un pequeño empujón pero si quierres tener un maravillso proyecto dejanoso en manos de nuestros excepcionales expertos en todos los campos que ofrecemos. Espero que os guste a todos y contamos con vuestra comnpañia futuramente. Un saludo, Decoan2. :))</div>
    </ons-card>

      <ons-list-header>Contáctanos</ons-list-header>
      <ons-list-item>
        <div class="center">
          <ons-select id="select-input" style="width: 120px">
            <option value="Whatsapp">
              Whatsapp (912 234 374)
            </option>
            <option value="Twitter">
              Twitter (@Decoran2_)
            </option>
            <option value="Facebook">
              Facebook (@Decoran2_)
            </option>
          </ons-select>

        </div>
        <div class="right right-label">
          <span id="awesome-platform">Vue&nbsp;</span>is awesome!
        </div>
      </ons-list-item>

      <ons-list-header>Valoranos</ons-list-header>
      <ons-list-item>
        ¿Cuánto te ha gustado nuestra app?
        <ons-row>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-sad"></ons-icon>
          </ons-col>
          <ons-col>
            <ons-range id="range-slider" value="0-100" style="width: 100%;"></ons-range>
          </ons-col>
          <ons-col width="40px" style="text-align: center; line-height: 31px;">
            <ons-icon icon="md-happy"></ons-icon>
          </ons-col>
        </ons-row>
        Amor:):<span id="volume-value">&nbsp;100</span> <span id="careful-message" style="display: none">&nbsp;(Decoran2 también te super ama)</span>
      </ons-list-item>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="fa-question-circle-o" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" maxlength="20" placeholder="Tu opinión y recomendación"></ons-input>
      </label>
      </ons-list-item>
      
      <ons-list-item>
        <div class="right right-label">
          <span id="name-display">Gracias por tu recomendación!</span>
          <ons-icon icon="fa-hand-spock-o" size="lg" class="right-icon"></ons-icon>
        </div>
      </ons-list-item>
    </ons-list>
    

    <script>
      ons.getScriptPage().onInit = function () {
        if (ons.platform.isAndroid()) {
          const inputItems = document.querySelectorAll('.input-items');
          for (i = 0; i < inputItems.length; i++) {
            inputItems[i].hasAttribute('modifier') ?
              inputItems[i].setAttribute('modifier', inputItems[i].getAttribute('modifier') + ' nodivider') :
              inputItems[i].setAttribute('modifier', 'nodivider');
          }
        }
        var nameInput = document.getElementById('name-input');
        var searchInput = document.getElementById('search-input');
        var updateInputs = function (event) {
          nameInput.value = event.target.value;
          searchInput.value = event.target.value;
          document.getElementById('name-display').innerHTML = event.target.value !== '' ? `Hello ${event.target.value}!` : 'Hello anonymous!';
        }
        nameInput.addEventListener('input', updateInputs);
        searchInput.addEventListener('input', updateInputs);
        document.getElementById('model-switch').addEventListener('change', function (event) {
          if (event.value) {
            document.getElementById('switch-status').innerHTML = `&nbsp;(on)`;
            document.getElementById('enabled-label').innerHTML = `Enabled switch`;
            document.getElementById('disabled-switch').disabled = false;
          } else {
            document.getElementById('switch-status').innerHTML = `&nbsp;(off)`;
            document.getElementById('enabled-label').innerHTML = `Disabled switch`;
            document.getElementById('disabled-switch').disabled = true;
          }
        });
        document.getElementById('select-input').addEventListener('change', function (event) {
          document.getElementById('awesome-platform').innerHTML = `${event.target.value}&nbsp;`;
        });
        var currentFruitId = 'radio-1';
        const radios = document.querySelectorAll('.radio-fruit')
        for (var i = 0; i < radios.length; i++) {
          var radio = radios[i];
          radio.addEventListener('change', function (event) {
            if (event.target.id !== currentFruitId) {
              document.getElementById('fruit-love').innerHTML = `I love ${event.target.value}!`;
              document.getElementById(currentFruitId).checked = false;
              currentFruitId = event.target.id;
            }
          })
        }
        var currentColors = ['Green', 'Blue'];
        const checkboxes = document.querySelectorAll('.checkbox-color')
        for (var i = 0; i < checkboxes.length; i++) {
          var checkbox = checkboxes[i];
          checkbox.addEventListener('change', function (event) {
            if (!currentColors.includes(event.target.value)) {
              currentColors.push(event.target.value);
            } else {
              var index = currentColors.indexOf(event.target.value);
              currentColors.splice(index, 1);
            }
            document.getElementById('checkboxes-header').innerHTML = currentColors;
          })
        }
        document.getElementById('range-slider').addEventListener('input', function (event) {
          document.getElementById('volume-value').innerHTML = `&nbsp;${event.target.value}`;
          if (event.target.value > 80) {
            document.getElementById('careful-message').style.display = 'inline-block';
          } else {
            document.getElementById('careful-message').style.display = 'none';
          }
        })
      }
    </script>

    <style>
      .right-icon {
        margin-left: 10px;
      }

      .right-label {
        color: #666;
      }
    </style>
  </ons-page>
</template>

<template id="decoran2.html">
  <ons-page>
    <ons-list>
      <ons-list-header>Colores</ons-list-header>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'Blanco'}, 'Blanco')">
        Blanco <ons-list-item>Blanco puro,
        Blancos cálidos: Blanco crema, Blanco antiguo, Blanco hueso, Blanco roto.
        Blancos frios: Blanco seda,  Blanco tiza, Blanco frio</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'default'}, 'default')">
        Negro <ons-list-item>Ébano
Negro alquitrán
Negro antracita
Negro asfalto
Negro azabache
Negro azulado
Negro betún
Negro brea
Negro carbón
Negro caviar
Negro cisco
Negro cuervo
Negro charol
Negro de anilina
Negro de carbón animal
Negro de carbón de huesos
Negro de coque
Negro de Francfort
Negro de humo
Negro de lámpara
Negro de manganeso
Negro de óxido de hierro
Negro de Paynes
Negro diamante
Negro dominó
Negro grafito
Negro grisáceo
Negro hollín
Negro marfil
Negro medianoche
Negro noche
Negro ónice
Negro óxido
Negro pardusco
Negro pez
Negro pigmento
Negro pizarra
Negro profundo
Negro regaliz
Negro terciopelo
Negro tinta
Negro tierra
Negro turmalina
Negro universal
Negro uva
Negro verdoso
Negro violeta
Negro zarzamora
Tinta de calamar
Tinta china</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'slide-ios'}, 'slide-ios')">
        Rojo <ons-list-item>rojo
cereza
Rose
mermelada
Merlot
granate
carmesí
Ruby
escarlata
vino
ladrillo
Apple
caoba
sangre
sangría
Berry
grosella
Blush
caramelo
labialCorazón negro
Sangre
Rouge
Sandía
Fuego
Amapola
Valentín
Blush</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'slide-md'}, 'slide-md')">
        Azul <ons-list-item>Azul petróleo, Azul oscuro, Azul índigo, Azul marino, Azul celeste, Azul turquesa, 
Denim Gris</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'lift-ios'}, 'lift-ios')">
        Amarillo<ons-list-item>Amarillo paya, Amarillo fosforescente, Amarillo purpurina, Oro</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'lift-md'}, 'lift-md')">
        Verde<ons-list-item>esmeralda, viridian, turquesa, jade, persal, trebol, botella, lima</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'fade-ios'}, 'fade-ios')">
        Naranja <ons-list-item>Aleación de naranja
Anaranjado de la zanahoria
Canela
Caqui oscuro
Cáscara de naranja
Centavo de cobre
Coquelicot
Duna
Gigantes de naranja
Ladrillo refractario
Lava
Leonado fulvous
Mandarina
Mandarina oscuro
Mango tango
Naranja amarillo
Naranja crayola
Naranja de cadmio
Naranja de seguridad brillante
Naranja español
Naranja fluorescente
Naranja fuerza de voluntad
Naranja golden gate bridge
Naranja internacional aeroespacial
Naranja internacional-ingeniería
Naranja orioles
Naranja oscuro
Naranja pantone
Naranja persa
Naranja portland
Naranja princeton
Naranja quemada
Naranja rueda de colores
Naranja ryb
Naranja universidad de tennessee
Naranja zanahoria profundo
Naranja-web
Ojo de tigre
Outrageous naranja
Persian orange
Pumpkin live
Pumpkin soft
Sinopia
Tangelo
Zanahoria neon</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'fade-md'}, 'fade-md')">
        Rosa <ons-list-item>Barbie rosa
Bougainvillea
Buganvilla
China rosa
Cuarzo rosa
Dogwood rosa
Fandango
Orceína
Pink-orange
Razzmatazz
Rosa carmín profundo
Rosa cerise
Rosa china
Rosa claro carmín
Rosa de acero
Rosa de cobre
Rosa de oro
Rosa deslumbra razzle
Rosa estadounidense
Rosa fandango
Rosa fluorescente
Rosa frambuesa
Rosa mountbatten
Rosa oscuro
Rosa pantone
Rosa paraiso
Rosa profundo
Rosa raspberry
Rosa thulian
Rosa turca
Rosa viejo
Rose
Rose bonbon
Rose madder
Rose roja
Rose taupe
Rose valle
Rosso corsa
Shocking pink
Súper rosa</ons-list-item>
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': 'transition.html', 'title': 'fade-md'}, 'fade-md')">
        Morado <ons-list-item>Antiguo heliotropo
Antiguo malva
Berenjena
Bizancio
Bizancio oscuro
Bizantino
Boysenberry
Eminencia
Flox
Heliotropo
Insignia real
Iris
Mardi gras
Pomp and power
Ube
Ube bright
Ube halaya
Uva
Uva de cyber
Verónica
Violeta
Violeta rojo
Violeta africana
Violeta artistico RYB
Violeta chino
Violeta eléctrico
Violeta español
Violeta francés
Violeta inglés
Violeta japonés
Violeta oscuro
Violeta rojo medio
Violeta rueda de colores
Violeta ruso
Violeta-web
Caja de herramientas
Jabón</ons-list-item>
      </ons-list-item>
    </ons-list>
    <ons-list>
      <ons-list-header>Estilos</ons-list-header>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '1.html', 'title': 'none'}, 'none')">
        Estilo Wabi Sabi. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '2.html', 'title': 'default'}, 'default')">
        Estilo Industrial.
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '3.html', 'title': 'slide-ios'}, 'slide-ios')">
        Estilo Kinfolk. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '4.html', 'title': 'slide-md'}, 'slide-md')">
        Estilo Contemporáneo.
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '5.html', 'title': 'lift-ios'}, 'lift-ios')">
        Estilo Minimalista. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '6.html', 'title': 'lift-md'}, 'lift-md')">
        Estilo Nórdico.
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '7.html', 'title': 'fade-ios'}, 'fade-ios')">
        Estilo Ecléctico.
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '8.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Romántico. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '9.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Art Decó 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '10.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Retro. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '11.html', 'title': 'fade-md'}, 'fade-md')">
       Estilo rústico. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '12.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Shabby Chic. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '13.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Vintage. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '14.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Oriental.
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '15.html', 'title': 'fade-md'}, 'fade-md')">
       Estilo clásico. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '16.html', 'title': 'fade-md'}, 'fade-md')">
       Estilo Étnico. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '17.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Boho. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '18.html', 'title': 'fade-md'}, 'fade-md')">
        Mid Century.  
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '19.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Kitsch  
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '20.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Moderno. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '21.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Navy, Marinero o Náutico. 
      </ons-list-item>
      <ons-list-item modifier="chevron" onclick="fn.pushPage({'id': '22.html', 'title': 'fade-md'}, 'fade-md')">
        Estilo Farmhouse.
      </ons-list-item>
    </ons-list>
    
  <template id="1.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="2.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
  
  </ons-page>
</template>

<template id="3.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>

    
  </ons-page>
</template>

<template id="4.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="5.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="6.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="7.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
    
  </ons-page>
</template>

<template id="8.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="9.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="10.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="11.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="12.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
   
  </ons-page>
</template>

<template id="13.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
   
  </ons-page>
</template>

<template id="14.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="15.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
  
  </ons-page>
</template>

<template id="16.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="17.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="18.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="19.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="20.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="21.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
    
  </ons-page>
</template>

<template id="22.html">
  <ons-page>
    <ons-back-button>Atras</ons-back-button>
    <div class="pic">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-6.jpg">
      <img src="https://www.kybaliondeco.com/wp-content/uploads/2020/07/Estilo-wabi-sabi-decoracion-interiores-17.jpg">
    </div>
   
  </ons-page>
</template>

<template id="pullHook.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Home</ons-back-button>
      </div>
      <div class="center"></div>
    </ons-toolbar>

    <ons-pull-hook id="pull-hook" threshold-height="120px">
      <ons-icon id="pull-hook-icon" size="22px" class="pull-hook-content" icon="fa-arrow-down"></ons-icon>
    </ons-pull-hook>

    <ons-list id="kitten-list">
      <ons-list-header>Pull to refresh</ons-list-header>
    </ons-list>

    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
        var pullHook = document.getElementById('pull-hook');
        var icon = document.getElementById('pull-hook-icon');
        pullHook.addEventListener('changestate', function (event) {
          switch (event.state) {
            case 'initial':
              icon.setAttribute('icon', 'fa-arrow-down');
              icon.removeAttribute('rotate');
              icon.removeAttribute('spin');
              break;
            case 'preaction':
              icon.setAttribute('icon', 'fa-arrow-down');
              icon.setAttribute('rotate', '180');
              icon.removeAttribute('spin');
              break;
            case 'action':
              icon.setAttribute('icon', 'fa-spinner');
              icon.removeAttribute('rotate');
              icon.setAttribute('spin', true);
              break;
          }
        });
        var getRandomName = function () {
          const names = ['Oscar', 'Max', 'Tiger', 'Sam', 'Misty', 'Simba', 'Coco', 'Chloe', 'Lucy', 'Missy'];
          return names[Math.floor(Math.random() * names.length)];
        };
        var getRandomUrl = function () {
          const width = 40 + Math.floor(20 * Math.random());
          const height = 40 + Math.floor(20 * Math.random());
          return `https://placekitten.com/g/${width}/${height}`;
        };
        var getRandomKitten = function () {
          return {
            name: getRandomName(),
            url: getRandomUrl()
          };
        };
        var getRandomData = function () {
          const data = [];
          for (var i = 0; i < 8; i++) {
            data.push(getRandomKitten());
          }
          return data;
        };
        var createKitten = function (kitten) {
          return ons.createElement(`
              <ons-list-item>
                <div class="left">
                  <img class="list-item__thumbnail" src="${kitten.url}">
                </div>
                <div class="center">${kitten.name}</div>
              </ons-list-item>
            `
          );
        };
        var kittens = getRandomData();
        for (kitty of kittens) {
          var kitten = createKitten(kitty);
          document.getElementById('kitten-list').appendChild(kitten);
        };
        pullHook.onAction = function (done) {
          setTimeout(function() {
            document.getElementById('kitten-list').appendChild(createKitten(getRandomKitten()));
            done();
          }, 400);
        }
      };
    </script>

    <style>
      .pull-hook-content {
        color: #666;
        transition: transform .25s ease-in-out;
      }
    </style>
  </ons-page>
</template>

<template id="dialogs.html">
  <ons-page id="dialogs-page">
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Home</ons-back-button>
      </div>
      <div class="center"></div>
      <div class="right">
        <ons-toolbar-button id="info-button" onclick="fn.showDialog('popover-dialog')"></ons-toolbar-button>
      </div>
    </ons-toolbar>

    <ons-list-title>Notifications</ons-list-title>
    <ons-list modifier="inset">
      <ons-list-item tappable modifier="longdivider" onclick="ons.notification.alert('Hello, world!')">
        <div class="center">
          Alert
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="ons.notification.confirm('Are you ready?')">
        <div class="center">
          Simple Confirmation
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="ons.notification.prompt('What is your name?')">
        <div class="center">
          Prompt
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="ons.notification.toast('Hi there!', { buttonLabel: 'Dismiss', timeout: 1500 })">
        <div class="center">
          Toast
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="ons.openActionSheet({ buttons: ['Label 1', 'Label 2', 'Label 3', 'Cancel'], destructive: 2, cancelable: true })">
        <div class="center">
          Action/Bottom Sheet
        </div>
      </ons-list-item>
    </ons-list>

    <ons-list-title>Components</ons-list-title>
    <ons-list modifier="inset">
      <ons-list-item tappable modifier="longdivider" onclick="fn.showDialog('lorem-dialog')">
        <div class="center">
          Simple Dialog
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="fn.showDialog('watHmmSure-dialog')">
        <div class="center">
          Alert Dialog
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="fn.showDialog('toast-dialog')">
        <div class="center">
          Toast (top)
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="fn.showDialog('modal-dialog')">
        <div class="center">
          Modal
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="fn.showDialog('popover-dialog')">
        <div class="center">
          Popover - MD Menu
        </div>
      </ons-list-item>
      <ons-list-item tappable modifier="longdivider" onclick="fn.showDialog('action-sheet-dialog')">
        <div class="center">
          Action/Bottom Sheet
        </div>
      </ons-list-item>
    </ons-list>

    <!-- Components -->
    <ons-dialog id="lorem-dialog" cancelable>
      <!-- Optional page. This could contain a Navigator as well. -->
      <ons-page>
        <ons-toolbar>
          <div class="center">Simple Dialog</div>
        </ons-toolbar>
        <p style="text-align: center">Lorem ipsum dolor</p>
        <p style="text-align: center">
          <ons-button modifier="light" onclick="fn.hideDialog('lorem-dialog')">Close</ons-button>
        </p>
      </ons-page>
    </ons-dialog>

    <ons-alert-dialog id="watHmmSure-dialog" cancelable>
      <div class="alert-dialog-title">Hey!!</div>
      <div class="alert-dialog-content">
        Lorem ipsum
        <ons-icon icon="fa-commenting-o"></ons-icon>
      </div>
      <div class="alert-dialog-footer">
        <button class="alert-dialog-button" onclick="fn.hideDialog('watHmmSure-dialog')">Wat</button>
        <button class="alert-dialog-button" onclick="fn.hideDialog('watHmmSure-dialog')">Hmm</button>
        <button class="alert-dialog-button" onclick="fn.hideDialog('watHmmSure-dialog')">Sure</button>
      </div>
    </ons-alert-dialog>

    <ons-toast id="toast-dialog" animation="fall">Supercalifragilisticexpialidocious<button onclick="fn.hideDialog('toast-dialog')">No way</button></ons-toast>

    <ons-modal id="modal-dialog" onclick="fn.hideDialog('modal-dialog')">
      <p style="text-align: center">
        Loading
        <ons-icon icon="fa-spinner" spin></ons-icon>
        <br><br> Click or wait
      </p>
    </ons-modal>

    <ons-popover id="popover-dialog" cancelable direction="down" cover-target target="#info-button">
      <ons-list id="popover-list">
        <ons-list-item class="more-options" tappable onclick="fn.hideDialog('popover-dialog')">
          <div class="center">Call history</div>
        </ons-list-item>
        <ons-list-item class="more-options" tappable onclick="fn.hideDialog('popover-dialog')">
          <div class="center">Import/export</div>
        </ons-list-item>
        <ons-list-item class="more-options" tappable onclick="fn.hideDialog('popover-dialog')">
          <div class="center">New contact</div>
        </ons-list-item>
        <ons-list-item class="more-options" tappable onclick="fn.hideDialog('popover-dialog')">
          <div class="center">Settings</div>
        </ons-list-item>
      </ons-list>
    </ons-popover>

    <ons-action-sheet id="action-sheet-dialog" cancelable>
      <ons-action-sheet-button onclick="fn.hideDialog('action-sheet-dialog')" icon="md-square-o">Action 1</ons-action-sheet-button>
      <ons-action-sheet-button onclick="fn.hideDialog('action-sheet-dialog')" icon="md-square-o">Action 2</ons-action-sheet-button>
      <ons-action-sheet-button onclick="fn.hideDialog('action-sheet-dialog')" modifier="destructive" icon="md-square-o">Action 3</ons-action-sheet-button>
      <ons-action-sheet-button onclick="fn.hideDialog('action-sheet-dialog')" icon="md-square-o">Cancel</ons-action-sheet-button>
    </ons-action-sheet>

    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
        var toolbarButton = ons.platform.isAndroid() ? ons.createElement(`<ons-icon icon="md-more-vert"></ons-icon>`) : ons.createElement(`<span>More</span>`);
        var infoButton = document.getElementById('info-button');
        infoButton.appendChild(toolbarButton);
        var toastDialog = document.getElementById('toast-dialog');
        toastDialog.parentNode.removeChild(toastDialog);
        document.getElementById('dialogs-page').appendChild(toastDialog);
        var timeoutID = 0;
        window.fn.showDialog = function (id) {
          var elem = document.getElementById(id);
          if (id === 'popover-dialog') {
            elem.show(infoButton);
          } else {
            elem.show();
            if (id === 'modal-dialog') {
              clearTimeout(timeoutID);
              timeoutID = setTimeout(function() { fn.hideDialog(id) }, 2000);
            }
          }
        };
        window.fn.hideDialog = function (id) {
          document.getElementById(id).hide();
        };
        const moreOptions = document.querySelectorAll('.more-options');
        if (!ons.platform.isAndroid()) {
          document.getElementById('watHmmSure-dialog').setAttribute('modifier', 'rowfooter');
          for (option of moreOptions) {
            option.hasAttribute('modifier') ?
              option.setAttribute('modifier', option.getAttribute('modifier') + ' longdivider') :
              option.setAttribute('modifier', 'longdivider');
          }
        } else {
          for (option of moreOptions) {
            option.hasAttribute('modifier') ?
              option.setAttribute('modifier', option.getAttribute('modifier') + ' nodivider') :
              option.setAttribute('modifier', 'nodivider');
          }
        }
      };
      document.getElementById('appNavigator').topPage.onDestroy = function () {
        var toastDialog = document.getElementById('toast-dialog');
        toastDialog.parentNode.removeChild(toastDialog);
        document.querySelector('#dialogs-page .page__content').appendChild(toastDialog);
      }
    </script>

    <style>
      #lorem-dialog .dialog-container {
        height: 200px;
      }

      ons-list-title {
        margin-top: 20px;
      }
    </style>
  </ons-page>
</template>

<template id="buttons.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Home</ons-back-button>
      </div>
      <div class="center"></div>
    </ons-toolbar>

    <section style="margin: 16px">
      <ons-button class="button-margin">Normal</ons-button>
      <ons-button modifier="quiet" class="button-margin">Quiet</ons-button>
      <ons-button modifier="outline" class="button-margin">Outline</ons-button>
      <ons-button modifier="cta" class="button-margin">Call to action</ons-button>
      <ons-button modifier="light" class="button-margin">Light</ons-button>
      <ons-button modifier="large" class="button-margin">Large</ons-button>
    </section>

    <section style="margin: 16px">
      <ons-button class="button-margin" disabled>Normal</ons-button>
      <ons-button modifier="quiet" class="button-margin" disabled>Quiet</ons-button>
      <ons-button modifier="outline" class="button-margin" disabled>Outline</ons-button>
      <ons-button modifier="cta" class="button-margin" disabled>Call to action</ons-button>
      <ons-button modifier="light" class="button-margin" disabled>Light</ons-button>
      <ons-button modifier="large" class="button-margin" disabled>Large</ons-button>
    </section>

    <ons-fab position="top right">
      <ons-icon icon="md-face"></ons-icon>
    </ons-fab>

    <ons-fab position="bottom left" disabled>
      <ons-icon icon="md-car"></ons-icon>
    </ons-fab>

    <ons-speed-dial position="bottom right" direction="up" :open.sync="spdOpen">
      <ons-fab>
        <ons-icon icon="md-share"></ons-icon>
      </ons-fab>
      <ons-speed-dial-item onclick="ons.notification.confirm(`Share on Twitter?`)">
        <ons-icon icon="md-twitter"></ons-icon>
      </ons-speed-dial-item>
      <ons-speed-dial-item onclick="ons.notification.confirm(`Share on Facebook?`)">
        <ons-icon icon="md-facebook"></ons-icon>
      </ons-speed-dial-item>
      <ons-speed-dial-item onclick="ons.notification.confirm(`Share on Google+`)">
        <ons-icon icon="md-google-plus"></ons-icon>
      </ons-speed-dial-item>
    </ons-speed-dial>

    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
      }
    </script>

    <style>
      .button-margin {
        margin: 6px 0;
      }
    </style>
  </ons-page>
</template>

<template id="carousel.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Home</ons-back-button>
      </div>
      <div class="center"></div>
    </ons-toolbar>

    <ons-carousel id="carousel" fullscreen swipeable auto-scroll overscrollable initial-index="0">
      <ons-carousel-item class="carousel-item" style="background-color: gray">
        <div class="color-tag">Gray</div>
      </ons-carousel-item>
      <ons-carousel-item class="carousel-item" style="background-color: #085078">
        <div class="color-tag">Blue</div>
      </ons-carousel-item>
      <ons-carousel-item class="carousel-item" style="background-color: #373B44">
        <div class="color-tag">Dark</div>
      </ons-carousel-item>
      <ons-carousel-item class="carousel-item" style="background-color: #D38312">
        <div class="color-tag">Orange</div>
      </ons-carousel-item>
    </ons-carousel>

    <div class="dots">
      <span id="dot0" class="dot" onclick="fn.swipe(this)">
        &#9679;
      </span>
      <span id="dot1" class="dot" onclick="fn.swipe(this)">
        &#9675;
      </span>
      <span id="dot2" class="dot" onclick="fn.swipe(this)">
        &#9675;
      </span>
      <span id="dot3" class="dot" onclick="fn.swipe(this)">
        &#9675;
      </span>
    </div>

    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
        const carousel = document.getElementById('carousel');
        carousel.addEventListener('postchange', function () {
          var index = carousel.getActiveIndex();
          const dots = document.querySelectorAll('.dot');
          for (dot of dots) {
            dot.innerHTML = dot.id === 'dot' + index ? '&#9679;' : '&#9675;';
          }
        });
        window.fn.swipe = function (target) {
          carousel.setActiveIndex(Number(target.id.slice(-1)));
        }
      }
    </script>

    <style>
      .carousel-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .color-tag {
        color: #fff;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .dots {
        text-align: center;
        font-size: 30px;
        color: #fff;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
      }

      .dots > span {
        cursor: pointer;
      }
    </style>
  </ons-page>
</template>

<template id="loadMore.html">
  <!-- Load more items on scroll bottom -->
  <ons-page id="load-more-page" on-infinite-scroll="fn.loadMore">
    <p class="intro">
      Useful for loading more items when the scroll reaches the bottom of the page, typically after an asynchronous API call.<br><br>
    </p>

    <ons-list id="list-node"></ons-list>

    <div class="after-list">
      <ons-icon icon="fa-spinner" size="26px" spin></ons-icon>
    </div>

    <script>
      ons.getScriptPage().onInit = function () {
        var listNode = document.getElementById('list-node');
        var createListItem = function (i) {
          return ons.createElement(`<ons-list-item>Item #${i}</ons-list-item>`);
        }
        for (var i = 0; i < 30; i++) {
          listNode.appendChild(createListItem(i));
        }
        window.fn.loadMore = function (done) {
          setTimeout(function() {
            const listLength = listNode.children.length;
            for (var i = 0; i < 10; i++) {
              listNode.appendChild(createListItem(listLength + i));
            }
            done();
          }, 600)
        }
      }
    </script>

    <style>
      .after-list {
        margin: 20px;
        text-align: center;
      }
    </style>
  </ons-page>
</template>

<template id="lazyRepeat.html">
  <!-- Lazy load thousands of items -->
  <ons-page id="lazy-repeat-page">
    <p class="intro">
      Automatically unloads items that are not visible and loads new ones. Useful when the list contains thousands of items.<br><br>
    </p>

    <ons-list>
      <ons-lazy-repeat id="infinite-list"></ons-lazy-repeat>
    </ons-list>

    <script>
      ons.getScriptPage().onInit = function () {
        var infiniteList = document.getElementById('infinite-list');

        infiniteList.delegate = {
          createItemContent: function (i) {
            return ons.createElement(`<ons-list-item>Item #${i}</ons-list-item>`);
          },
          countItems: function () {
            return 3000;
          }
        };

        infiniteList.refresh();
      }
    </script>

    <style>
      .intro {
        text-align: center;
        padding: 0 20px;
        margin-top: 40px;
      }
    </style>
  </ons-page>
</template>

<template id="infiniteScroll.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Home</ons-back-button>
      </div>
      <div class="center"></div>
    </ons-toolbar>

    <ons-tabbar position="auto">
      <ons-tab label="Load More" page="loadMore.html"></ons-tab>
      <ons-tab label="Lazy Repeat" page="lazyRepeat.html" active></ons-tab>
    </ons-tabbar>

    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
      }
    </script>
  </ons-page>
</template>

<template id="progress.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Home</ons-back-button>
      </div>
      <div class="center"></div>
    </ons-toolbar>

    <ons-progress-bar id="progress-value" class="progressStyle" value="0"></ons-progress-bar>

    <section style="margin: 40px 16px">
      <p id="progress-status">
        Progress: 0%
      </p>

      <p>
        <ons-progress-bar class="progressStyle" value="20"></ons-progress-bar>
      </p>

      <p>
        <ons-progress-bar class="progressStyle" value="40" secondary-value="80"></ons-progress-bar>
      </p>

      <p>
        <ons-progress-bar class="progressStyle" indeterminate></ons-progress-bar>
      </p>

      <div style="text-align: center; margin: 40px; color: #666">
        <p>
          <ons-progress-circular class="progressStyle" value="20"></ons-progress-circular>
          <ons-progress-circular class="progressStyle" value="40" secondary-value="80"></ons-progress-circular>
          <ons-progress-circular class="progressStyle" indeterminate></ons-progress-circular>
        </p>

        <p>
          <ons-icon icon="ion-ios-cog" spin size="30px"></ons-icon>
          <ons-icon icon="ion-ios-cog" spin size="30px"></ons-icon>
          <ons-icon icon="ion-ios-cog" spin size="30px"></ons-icon>
          <ons-icon icon="ion-ios-cog" spin size="30px"></ons-icon>
        </p>

        <p>
          <ons-icon icon="fa-spinner" spin size="26px"></ons-icon>
          <ons-icon icon="circle-o-notch" spin size="26px"></ons-icon>
        </p>

        <p>
          <ons-icon icon="md-spinner" spin size="30px"></ons-icon>
        </p>
      </div>

      <p>
        <ons-button modifier="large">
          <ons-icon icon="ion-ios-cog" spin size="26px"></ons-icon>
        </ons-button>
        <br><br>
        <ons-button modifier="large" disabled>
          <ons-icon icon="ion-ios-cog" spin size="26px"></ons-icon>
        </ons-button>
      </p>
    </section>

    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
        if (!ons.platform.isAndroid()) {
          const progressStyle = document.querySelectorAll('.progressStyle');
          for (progress of progressStyle) {
            progress.hasAttribute('modifier') ?
              progress.setAttribute('modifier', progress.getAttribute('modifier') + ' ios') :
              progress.setAttribute('modifier', 'ios');
          }
        }
        var progressStatus = document.getElementById('progress-status');
        var progressValue = document.getElementById('progress-value');
        var intervalID = 0;
        intervalID = setInterval(function() {
          if (progressValue.value === 100) {
            clearInterval(intervalID);
            return;
          }
          progressValue.value++;
          progressStatus.innerHTML = `Progress: ${progressValue.value}%`;
        }, 40);
      }
    </script>

    <style>
      /* 'ios' modifier */

      .progress-bar--ios__primary,
      .progress-bar--ios.progress-bar--indeterminate::before,
      .progress-bar--ios.progress-bar--indeterminate::after {
        background-color: #4282cc
      }

      .progress-bar--ios__secondary {
        background-color: #87b6eb;
      }

      .progress-circular--ios__primary {
        stroke: #4282cc
      }

      .progress-circular--ios__secondary {
        stroke: #87b6eb;
      }
    </style>
  </ons-page>
</template>

<template id="transition.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-back-button>Animations</ons-back-button>
      </div>
      <div class="center"></div>
    </ons-toolbar>
    <p style="text-align: center">
      Use the VOnsBackButton
    </p>
    <script>
      ons.getScriptPage().onInit = function () {
        this.querySelector('ons-toolbar div.center').textContent = this.data.title;
      }
    </script>
  </ons-page>
</template>

<style>
  ons-splitter-side[animation=overlay] {
    border-left: 1px solid #bbb;
  }
</style>
